Repository brave/adblock-lists, pull requests merged in 2021-08, with the labels that each got.

#622 Fix Brave search ubO snippet filter
  brave-unbreak.txt
Labels: Brave List Issue

#624 Add debouncing rules for debouncing feature
  brave-lists/debounce.json
Labels: Debounce

#628 Fix anti-brave on https://mynewsmedia.co/edu/the-best-vpn-service-2021/
  brave-unbreak.txt
Labels: Brave List Issue

#630 Remove unused Anti-brave domains
  brave-unbreak.txt
Labels: cleanup, Brave List Issue

#631 Convert Anti-Brave snippets to network blocks.
  brave-unbreak.txt
Labels: cleanup, Brave List Issue

#632 Fix YoutubeTV popup
  brave-lists/brave-specific.txt
Labels: cosmetic, Desktop specific

#634 Add additional Anti-Brave domains
  brave-unbreak.txt
Labels: Brave List Issue

#635 Remove unused domains
  brave-unbreak.txt
Labels: cleanup, Brave List Issue
