Repository brave/adblock-lists, pull requests merged in 2022-04, with the labels that each got.

#813 Fixes valuecommerce.com debounce
  brave-lists/debounce.json
Labels: Debounce

#814 Add valuecommerce.ne.jp debounce
  brave-lists/debounce.json
Labels: Debounce

#815 Fix debounce for paramountplus.com
  brave-lists/debounce.json
Labels: Debounce

#816 Fixes ad popups on crichd.*
  brave-unbreak.txt
Labels: uBO-domain-wildcard

#817 Fixes rnbxclusive1.biz wildcard
  brave-unbreak.txt
Labels: uBO-domain-wildcard

#819 Fix https://uqr.to/abelardoj
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#821 Remove unused facebook debounce
  brave-lists/debounce.json
Labels: Debounce

#822 circumvent anti-Brave checks on rari.app and mistx.io
  brave-unbreak.txt
Labels: Brave List Issue

#823 Fix uBO-redirect on streamingcommunity.bar
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule

#825 Fix https://github.com/brave/brave-browser/issues/22248
  brave-unbreak.txt
Labels: Brave List Issue

#826 Add https://8808.xg4ken.com/trk/ debounce
  brave-lists/debounce.json
Labels: Debounce

#828 Temp fix on debounce domains
  brave-unbreak.txt
Labels: Debounce

#830 Counter clickserve.dartsearch.net in badware.txt
  brave-unbreak.txt
Labels: Debounce

#831 Fix fingerprinting on 53.com
  brave-unbreak.txt
Labels: Brave List Issue

#832 Fix popups on tamilblasters.wiki (ios)
  brave-unbreak.txt
Labels: ios specific

#833 Update adservers for tamilblasters.wiki (ios)
  brave-unbreak.txt
Labels: ios specific

#834 Add subdocument blocks for debounce fixes
  brave-unbreak.txt
Labels: Debounce

#835 Fix sofi.com portscanning/fingerprint
  brave-unbreak.txt
Labels: Brave List Issue

#836 Fixes quiz on https://slate.com/news-and-politics/2022/04/slate-quiz-greek-history-media-comics.html
  brave-unbreak.txt
Labels: Brave List Issue

#837 Fix anti-Brave on healthrangerstore.com
  brave-unbreak.txt
Labels: Brave List Issue

#838 Fix https://app.qbo.intuit.com/
  brave-unbreak.txt
Labels: Brave List Issue

#839 Update tamilblasters domain
  brave-unbreak.txt
Labels: Brave List Issue

#840 Fixes redirect on sportsguild.net
  brave-unbreak.txt
Labels: uBO-redirect-rule

#842 Fixes uBO redriect issue on https://rugbystreams.me/
  brave-unbreak.txt
Labels: uBO-redirect-rule
