Repository brave/adblock-lists, pull requests merged in 2022-06, with the labels that each got.

#879 Remove invalid f9tmep.net rule
  brave-lists/debounce.json
Labels: Debounce

#881 Fixes anti-adblock faucetbtc.net
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule

#883 Fix cpu usage on 53.com & samsclub
  brave-unbreak.txt
Labels: perf

#884 Fixes https://github.com/easylist/easylist/issues/12361
  brave-unbreak.txt
Labels: consents

#878 Add rfvk.net debounce
  brave-lists/debounce.json
Labels: Debounce

#885 Remove broken viglink.com rule (fixes #864)
  brave-lists/debounce.json
Labels: Debounce

#889 Add test entries to the debounce list.
  brave-lists/debounce.json
Labels: Debounce

#891 change test debouncing urls to brave owned ones
  brave-lists/debounce.json
Labels: Debounce

#893 Debounce api.bam-x.com
  brave-lists/debounce.json
Labels: Debounce

#895 Debounce ojrq.net and d.agkn.com
  brave-lists/debounce.json
Labels: Debounce

#898 Add missing scheme to shareasale bouncers
  brave-lists/debounce.json
Labels: Debounce

#899 Tighten debounce patterns
  brave-lists/debounce.json
Labels: Debounce

#897 Debounce clixgalore.com correctly
  brave-lists/debounce.json
Labels: Debounce

#888 Fix typo in cfjump.com param name
  brave-lists/debounce.json
Labels: Debounce

#903 First party piwik exceptions no longer needed
  brave-unbreak.txt
Labels: Brave List Issue

#904 Fixes perf issues on https://healthsafeid.optumbank.com/
  brave-unbreak.txt
Labels: Brave List Issue, perf

#902 Add several missing bouncers found in external lists
  brave-lists/debounce.json
Labels: Debounce

#896 Add another variation of mediamarkt to the debouncer
  brave-lists/debounce.json
Labels: Debounce

#908 Remove duplicate rule
  brave-lists/debounce.json
Labels: Debounce

#905 Delete broken imported rules
  brave-lists/debounce.json
Labels: Debounce
