Repository brave/adblock-lists, pull requests merged in 2022-07, with the labels that each got.

#909 Update threatmetrix fingerprinting
  brave-unbreak.txt
Labels: Brave List Issue, perf

#910 Update uBO Annoyances Anti-adblock
  brave-unbreak.txt
Labels: anti-adblock, uBO-Annoyances

#913 Fixes https://signin.quicken.com/
  brave-unbreak.txt
Labels: Brave List Issue, perf

#911 Add cc.techbargains.com debounce
  brave-lists/debounce.json
Labels: Debounce

#914 Fix further threatmetrix on .ca banking
  brave-unbreak.txt
Labels: Brave List Issue, perf

#915 Addtional threatmetrix banks domains
  brave-unbreak.txt
Labels: Brave List Issue, perf

#912 Add googleadservices.com (fixes #865)
  brave-lists/debounce.json
Labels: Debounce

#916 Fix threatmatrix on healthsafeid.optumbank.com
  brave-unbreak.txt
Labels: Brave List Issue, perf

#917 Fixes https://github.com/brave/brave-browser/issues/23896
  brave-unbreak.txt
Labels: uBO-QuickFixes

#918 Update uBO Annoyances anti-adblock
  brave-unbreak.txt
Labels: uBO-Annoyances, uBO-QuickFixes

#919 Fix Threatmetrix on canadiantire.ca,sportchek.ca,ingbank.pl
  brave-unbreak.txt
Labels: Brave List Issue, perf

#920 Fixes login on https://www.uccu.com/
  brave-unbreak.txt
Labels: Peter Lowes list

#921 Update threatmetrix
  brave-unbreak.txt
Labels: Brave List Issue, perf

#922 Update threatmetrix domains
  brave-unbreak.txt
Labels: Brave List Issue, perf

#923 Fixes Anti-adblock on itscybertech.com
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule

#924 Fixes https://canale.live/
  brave-unbreak.txt
Labels: anti-adblock, uBO-QuickFixes

#925 Sync with uBO Annoyances Anti-ad
  brave-unbreak.txt
Labels: anti-adblock, uBO-Annoyances

#926 Fixes anti-adblock on https://anysubtitle.com/
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule

#927 Update theatmetrix domains
  brave-unbreak.txt
Labels: Brave List Issue, perf

#928 Fixes Anti-adblock https://filedb.io/
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule

#929 Fix reported anti-adblock reports
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule

#930 Update filters
  brave-unbreak.txt
Labels: cleanup

#933 Update anti-ad from annoyances
  brave-unbreak.txt
Labels: anti-adblock, cleanup, Brave List Issue, uBO-Annoyances

#934 Fix anti-adblock on ios (planetf1.com)
  brave-lists/brave-ios-specific.txt
Labels: anti-adblock, ios specific

#935 No longer needed
  brave-lists/brave-ios-specific.txt
Labels: cleanup

#936 Fixes https://mobile.donanimhaber.com/ (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#937 Fix anti-ad on fresheroffcampus.com,cizzyscripts.com
  brave-unbreak.txt
Labels: anti-adblock, uBO-redirect-rule
