Repository brave/adblock-lists, pull requests merged in 2022-08, with the labels that each got.

#939 Add trackers/adservers for cookpad.com (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#941 Fixes Anti-adblock https://www.lifefeeling.in/
  brave-unbreak.txt
Labels: anti-adblock

#942 Fix reported various sites
  brave-unbreak.txt
Labels: anti-adblock, perf

#944 Remove redundant reuters filter
  brave-unbreak.txt
Labels: cleanup

#945 Fix cnn.com anti-ad nag
  brave-unbreak.txt
Labels: Brave List Issue, Snippets, First-party Trackers

#946 Fix ad elements on https://mobile.donanimhaber.com (ios)
  brave-lists/brave-ios-specific.txt
Labels: cosmetic, ios specific

#943 Add updated redirect trackers
  brave-unbreak.txt
Labels: tracking, Brave List Issue, uBO-redirect-rule

#950 Block bing.com/mouselog in standard shields mode
  brave-unbreak.txt
Labels: tracking, Brave List Issue, First-party Trackers

#951 Expand awin1 rule
  brave-lists/debounce.json
Labels: Debounce

#952 Debounce squarespace newsletters
  brave-lists/debounce.json
Labels: Debounce

#953 Add navigator.clipboard checks on webplatform.news
  brave-unbreak.txt
Labels: navigator.clipboard
