Repository brave/adblock-lists, pull requests merged in 2023-06, with the labels that each got.

#1186 FIxes Gannett sites on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1187 Fix imdb.com ads
  brave-unbreak.txt
Labels: standard-shields

#1188 Add a few more standard-shields fixes
  brave-unbreak.txt
Labels: standard-shields

#1184 Clean feverup.com
  brave-lists/clean-urls.json
Labels: Clean URLS

#1189 Fix bbc.com empty grey box's
  brave-unbreak.txt
Labels: standard-shields

#1190 Fix links in Hive emails
  brave-lists/clean-urls.json
Labels: Clean URLS

#1191 Fix Empty spaces on cbssports.com
  brave-unbreak.txt
Labels: standard-shields

#1192 Fixes blank spaces on space.com,foxnews.com,newsnow.co.uk
  brave-unbreak.txt
Labels: standard-shields

#1194 Clean url ex_cid
  brave-lists/clean-urls.json
Labels: Clean URLS

#1182 Fix http issues on speedhunters.com
  brave-lists/https-upgrade-exceptions-list.txt
Labels: https

#1195 Fixs add-to button on capitaloneshopping.com
  brave-unbreak.txt
Labels: Brave List Issue

#1193 Add https://pcsupport.lenovo.com/nz/en/
  brave-lists/localhost-permission-allow-list.txt
Labels: Localhost

#1196 Fixes blogto.com banner shadow (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1197 Fix gmail ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1198 Update Brave Firstparty, Sync with EP
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1199 Add tiktok.com trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1200 Add Threatmetrix 1p scripts
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1201 Include some first-party cosmetic fixes
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1204 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1205 Fix cosmetics ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1206 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1207 Fixes Ads spot.im
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1208 Update existing filters
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1209 Fixes anti-adblock on thequint.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1210 Add first-party rules for searchengineland.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1211 Add a few popular 1p trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1212 Add Ezoic/Gannett/mgid cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1214 Update first-party filters
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1213 Remove unique ID from mailchimp "view in browser" pages
  brave-lists/clean-urls.json
Labels: Clean URLS

#1215 Add yahoo trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1217 HBR also uses tpcc
  brave-lists/clean-urls.json
Labels: Clean URLS

#1216 Add matomo params
  brave-lists/clean-urls.json
Labels: Clean URLS

#1218 Add tfl.gov.uk
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1219 Add ebay.com and homedepot.com
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1220 Add a few more 1p trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1223 Add figma.com trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1224 Add cnn.com & kotaku.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1225 Update firstparty items
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1226 Remove param from Backerkit emails
  brave-lists/clean-urls.json
Labels: Clean URLS

#1228 Filter songkick email parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1229 Fixes anti-adblock on investing.com
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, First-party Ads

#1230 Fixes https://github.com/brave/brave-ios/issues/7624
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1232 Fix various empty space issues
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1233 Fixes blank images (grey boxes) on nytimes.com
  brave-unbreak.txt
Labels: webcompat

#1235 Fixes fmovies domains (wildcards)
  brave-lists/brave-android-specific.txt
  brave-unbreak.txt
Labels: uBO-domain-wildcard

#1237 Update first-party filters (Fixes some common empty space issues)
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1236 Remove referral param on HackerNoon
  brave-lists/clean-urls.json
Labels: Clean URLS

#1238 Cleanup redundant filters
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads, First-party Trackers

#1239 Fixes ads on apnews.com
  brave-lists/brave-ios-specific.txt
Labels: cosmetic, ios specific
