Repository brave/adblock-lists, pull requests merged in 2023-04, with the labels that each got.

#1124 Fixes anti-brave checks on itv.com
  brave-unbreak.txt
Labels: anti-adblock

#1125 Temp disable home feed filter
  brave-lists/yt-recommended.txt
Labels: youtube additions

#1126 Fix subscribing to https://epaper.thehindu.com/
  brave-unbreak.txt
Labels: anti-adblock

#1127 Fixes anti-Brave message on https://www.pistonheads.com/support
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1129 Add more Amazon params from affiliate links
  brave-lists/clean-urls.json
Labels: Clean URLS

#1130 Cleanup redundant uBO redirect rules
  brave-unbreak.txt
Labels: cleanup

#1131 Fixes https://github.com/AdguardTeam/AdguardFilters/issues/85641
  brave-lists/brave-specific.txt
  brave-unbreak.txt
Labels: cleanup, regional

#1132 Update Annoyances import
  brave-unbreak.txt
Labels: anti-adblock, uBO-Annoyances

#1133 Cleanup filter rules
  brave-unbreak.txt
Labels: cleanup

#1135 Fixes Anti-adblock on https://revadvert.com/
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1134 Add g-o-media.digidip.net debounce
  brave-lists/debounce.json
Labels: Debounce

#1136 Add some ezoic-ad websites
  brave-unbreak.txt
Labels: First-party Ads

#1137 Update Quick Fixes
  brave-unbreak.txt
Labels: uBO-QuickFixes

#1138 Fix cookie message on scienceopen.com
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1139 Fix cookies consent on fups.com
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1140 Address https://github.com/brave/brave-ios/issues/7294
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1141 Not needed
  brave-lists/brave-ios-specific.txt
Labels: cleanup

#1142 Fix blank screen on darkreading.com
  brave-unbreak.txt
Labels: standard-shields

#1144 Fixes anti-brave on https://f1tv.formula1.com/
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1143 Remove unsupported webgains bouncer
  brave-lists/debounce.json
Labels: Debounce

#1145 Fix menu layer on cnn.com
  brave-unbreak.txt
Labels: cleanup

#1147 Fixes popups on bookoffonline.co.jp
  brave-lists/brave-ios-specific.txt
Labels: ios specific, regional

#1149 Expand the actionnetwork rule
  brave-lists/clean-urls.json
Labels: Clean URLS

#1150 Update Admiral servers and websites
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: anti-adblock, ios specific

#1118 Fix https issue http://satview.bom.gov.au/
  brave-lists/https-upgrade-exceptions-list.txt
Labels: https

#1151 Fixes http://en.frontwing.jp/
  brave-lists/https-upgrade-exceptions-list.txt
Labels: https
