Repository brave/adblock-lists, pull requests merged in 2023-11, with the labels that each got.

#1386 Remove campaign-tracking params on Humble Bundle
  brave-lists/clean-urls.json
Labels: Clean URLS

#1385 Remove more Facebook-related query parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1389 Move too brave-cookie-specific.txt
  brave-lists/brave-cookie-specific.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1390 Fix notion/yahoo quotes
  brave-lists/brave-cookie-specific.txt
Labels: Brave List Issue

#1392 Fix gtc.co.uk anti-adblock
  brave-lists/brave-ios-specific.txt
Labels: anti-adblock, ios specific

#1395 Fix various quote crashing issues
  brave-lists/brave-cookie-specific.txt
Labels: Brave List Issue

#1397 Fix music.amazon cookies
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1399 Remove more utm_ parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1400 update yt
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1401 Fixes anrdoezrs.net debounce
  brave-lists/debounce.json
Labels: Debounce

#1398 Add HubSpot URL parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1403 Remove another Amazon parameter from URLs
  brave-lists/clean-urls.json
Labels: Clean URLS

#1402 Remove unnecessary Instagram parameters related to sharing and embedding
  brave-lists/clean-urls.json
Labels: Clean URLS

#1404 Fixes Empty space issues on 404media.co
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1405 Fixes Google login and survery nags
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue, needs-security-review

#1406 Fixes redirect on https://book.peek.com/
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1407 Temp disable of filter ios rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1408 Add a few facebook trackers from EP
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1409 Update youtube.com (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1410 Update x13_cookies
  brave-lists/brave-cookie-specific.txt
Labels: Brave List Issue, Cookie list

#1411 Remove x13 cookies
  brave-lists/brave-cookie-specific.txt
Labels: cleanup

#1412 Fix cookie consents on chrono24.*
  brave-lists/brave-cookie-specific.txt
Labels: uBO-domain-wildcard, Cookie list

#1413 Sync chrono24 changes into Brave
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1415 Fixes browser detection reported in japscan.lol
  brave-unbreak.txt
Labels: Brave List Issue

#1417 Address youtube delay from https://www.reddit.com/r/uBlockOrigin/comments/17tm9rp/comment/k9i62zu/
  brave-unbreak.txt
Labels: Brave List Issue

#1414 Fixes qvc debounce links
  brave-lists/debounce.json
Labels: Debounce

#1416 Remove Acoustic campaign trackers
  brave-lists/clean-urls.json
Labels: Clean URLS

#1418 Remove unnecessary params in links from Linkedin emails
  brave-lists/clean-urls.json
Labels: Clean URLS

#1420 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1422 Fixes coolstuff.* cookie messages
  brave-lists/brave-cookie-specific.txt
Labels: uBO-domain-wildcard, Cookie list

#1421 Fixes shop-links debounce
  brave-lists/debounce.json
Labels: Debounce

#1423 Address https://github.com/brave/brave-browser/issues/31954
  brave-unbreak.txt
Labels: needs-security-review, GPC Related

#1424 Temp fix for grey box on arvopaperi.fi
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1426 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1427 Sync PerimeterX trackers with Easyprivacy
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers
