Repository brave/adblock-lists, pull requests merged in 2023-09, with the labels that each got.

#1297 Update youtube filter exception
  brave-unbreak.txt
Labels: Brave List Issue

#1298 Update Admiral servers
  brave-unbreak.txt
Labels: ios specific

#1299 Fixes howtogeek.com admiral warning
  brave-unbreak.txt
Labels: Brave List Issue

#1300 Tweak important youtube rule
  brave-unbreak.txt
Labels: Brave List Issue

#1301 Fixes Admiral check on gbatemp.net
  brave-unbreak.txt
Labels: anti-adblock, ios specific, Brave List Issue

#1304 Fixes gbatemp.net admiral fix
  brave-unbreak.txt
Labels: ios specific, Brave List Issue

#1306 Fixes m1.com blank page
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1307 Cover ads & trackers on decrypt.co (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1308 Fixes invideo ad on road.cc
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1309 Add important flags to youtube uBO filters
  brave-unbreak.txt
Labels: Brave List Issue

#1311 Address update in uBO youtube filters
  brave-unbreak.txt
Labels: Brave List Issue

#1312 Fixes blank space issues on foodnetwork.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1313 Fixes empty spaces on coindesk.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1315 Remove foxnews.com snippet
  brave-unbreak.txt
Labels: Brave List Issue

#1316 Fixes anti-adblock on atozmath.com
  brave-unbreak.txt
Labels: anti-adblock

#1317 Remove YouTube's new `si` share param
  brave-lists/clean-urls.json
Labels: Clean URLS

#1314 Add aliexpress.com params
  brave-lists/clean-urls.json
Labels: Clean URLS

#1318 Fix anti-adblock on samuraiscan.org
  brave-unbreak.txt
Labels: anti-adblock

#1319 Add Cxense URL parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1320 Remove Yandex ad parameters from URLs
  brave-lists/clean-urls.json
Labels: Clean URLS

#1321 Fixes anti-adblock on app.roll20.net (login needed)
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue, needs-security-review

#1322 Fixes removeparam standard blocking (video ads)
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1323 Convert from= to domain=
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1324 Update Admiral servers and warnings
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: anti-adblock, ios specific

#1328 Include more akam first-party trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers
