Repository brave/adblock-lists, pull requests merged in 2023-08, with the labels that each got.

#1268 Update Facebook and tiktok trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1269 Add linkedin.com tracker
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1270 Mirror filters.txt (temp)
  brave-lists/filters-mirror.txt
Labels: uBO Issue

#1271 Update admiral servers
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1272 Add twitter ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1275 Additional reddit ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1276 Update .onion links
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads

#1277 Fix anti-brave on cnnespanol.cnn.com
  brave-unbreak.txt
Labels: Brave List Issue

#1278 Update First-party ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1279 Fix walmart redirect in https://github.com/brave/brave-browser/issues/32229
  brave-unbreak.txt
Labels: GPC Related

#1280 Fixes youtube.com playback delay due to ads
  brave-unbreak.txt
Labels: Brave List Issue

#1281 Fix friend.tech overlay
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1284 Add exception for youtube/ubo-dev specific filter
  brave-unbreak.txt
Labels: Brave List Issue

#1285 Update youtube.com rules
  brave-unbreak.txt
Labels: Brave List Issue

#1287 Removed filter, no longer applicable
  brave-unbreak.txt
Labels: Brave List Issue

#1283 Add atinternet params to clean-urls
  brave-lists/clean-urls.json
Labels: Clean URLS

#1288 Fixes anti-adblock on filmisub.cc
  brave-unbreak.txt
Labels: cosmetic, anti-adblock

#1289 Re-add reddit fix
  brave-unbreak.txt
Labels: Brave List Issue

#1290 Fixes Admiral servers on various sites
  brave-unbreak.txt
Labels: ios specific

#1291 Updated PerimeterX trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1292 Fix Anti-Brave blank page on myaccountaccess.com
  brave-unbreak.txt
Labels: Brave List Issue

#1293 Improve adblock-tester.com score
  brave-lists/brave-firstparty.txt
Labels: Brave List Issue

#1294 Remove uBO counter for youtube
  brave-unbreak.txt
Labels: Brave List Issue

#1296 Remove trk param from Bloomberg URLs
  brave-lists/clean-urls.json
Labels: Clean URLS
