Repository brave/adblock-lists, pull requests merged in 2023-07, with the labels that each got.

#1242 Fixes top leaderboard on apnews.com
  brave-unbreak.txt
Labels: ubo remove()

#1240 Update first-party filters
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1243 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads

#1244 Fixes anti-Brave on aniwatch.to
  brave-unbreak.txt
Labels: anti-adblock

#1246 Update first-party fixes
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1249 Update First-party filters
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1250 Cleanup rules
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads

#1251 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1252 Filter out referral param from iacr.org
  brave-lists/clean-urls.json
Labels: Clean URLS

#1253 Update cosmetics first-party
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1254 Fix naver.com on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1255 Update threatmetrix from Easyprivacy
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1256 Remove brave speicific YT filters
  brave-unbreak.txt
Labels: cleanup

#1257 Fix bit.ly ads on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1258 Fix Anti-Brave on https://suite.trezor.io/web/
  brave-unbreak.txt
Labels: Brave List Issue

#1259 Re-sync with Easyprivacy CNAME list
  brave-lists/brave-firstparty-cname.txt
Labels: CNAME, First-party Trackers

#1260 Update cosmetics first-party blank spaces
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party ads (cosmetics)

#1261 Fix intermiitent youtube error
  brave-unbreak.txt
Labels: uBO Issue

#1262 Fixes empty spaces on timesofindia.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party ads (cosmetics)

#1263 Fixes popups on canyoublockit.com
  brave-unbreak.txt
Labels: Brave List Issue

#1264 Fix nytimes.com empty spaces
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1265 Add Ezoic cms ads & trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers, First-party ads (cosmetics)

#1266 Fixes anti-brave on sport.optus.com.au
  brave-unbreak.txt
Labels: Brave List Issue

#1267 Fixes no pictures on novinky.cz
  brave-unbreak.txt
Labels: env-ubo
