Repository brave/adblock-lists, pull requests merged in 2023-03, with the labels that each got.

#1095 Fix connatix.com blocking
  brave-unbreak.txt
Labels: Brave List Issue

#1096 Fix https://lnkd.in/interstitial
  brave-lists/brave-social.txt
Labels: Social

#1097 Add Brave Ads query decorations
  brave-lists/clean-urls.json
Labels: Clean URLS

#1098 Fix anti-Brave checks on capitaloneoffers
  brave-unbreak.txt
Labels: Brave List Issue

#1099 Fixes am3t9s.net debounce
  brave-lists/debounce.json
Labels: Debounce

#1100 Fix cookie message on https://www.kaffeediscount.com/
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1103 Fix anti-brave message on everywherepaycard.com
  brave-unbreak.txt
Labels: Brave List Issue

#1105 Revert "Remove context tracker on Reddit"
  brave-lists/clean-urls.json
Labels: Clean URLS

#1106 Fix message/overlay on spiegel.de
  brave-unbreak.txt
Labels: anti-adblock

#1107 Fix reviews on jcrec.om
  brave-unbreak.txt
Labels: Brave List Issue

#1101 Remove unused redirect rules
  brave-unbreak.txt
Labels: cleanup, uBO-redirect-rule

#1108 Fix google creditionals on joinhoney.com
  brave-unbreak.txt
Labels: google-login-nag

#1109 Improve tinypass blocking on slate.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1110 Add www.dpbolvw.net debounce
  brave-lists/debounce.json
Labels: Debounce

#1112 Fix debounce on click.redditmail.com
  brave-lists/debounce.json
Labels: Debounce

#1113 Fixes kbizoom.com anti-adblock
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1115 Update cookielist
  brave-lists/brave-cookie-specific.txt
Labels: consents, Cookie list

#1116 Fix grubhub.com google login
  brave-unbreak.txt
Labels: google-login-nag

#1117 Fix anti-adblock on mylivewallpapers.com
  brave-unbreak.txt
Labels: anti-adblock

#1119 Fixes https://scrolller.com/ warning
  brave-unbreak.txt
Labels: anti-adblock

#1120 Fixes nsw2u.com anti-adblock
  brave-unbreak.txt
Labels: anti-adblock

#1121 Fixes Cookie consent on https://www.bikepro.de/
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1122 Add stilord.com domain
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1123 connatix filters no longer needed
  brave-unbreak.txt
Labels: cleanup
