Repository brave/adblock-lists, pull requests merged in 2023-10, with the labels that each got.

#1330 Include youtube uBO rules for iOS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1331 Update uBO YT filters for ioS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1332 Update ios Youtube rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1333 Update Brave yt fixes
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: cleanup, ios specific

#1334 Quick fix for youtube.com
  brave-unbreak.txt
Labels: cleanup

#1335 Interim fix for youtube.com
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific, Desktop specific

#1336 Fixes Youttube ads
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: anti-adblock

#1337 Fixes anto-brave message on jiocinema.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1338 Remove unused coin list
  coin-miners.txt
Labels: cleanup

#1339 Cleanup old cookie list
  brave-lists/brave-cookie-specific.txt
Labels: cleanup

#1341 Remove unneeded ios/youtube.com filter
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1342 Fix Admiral check on nbcnews.com
  brave-unbreak.txt
Labels: ios specific

#1340 Add chrono24 & just-eat cookie wildcards
  brave-lists/brave-cookie-specific.txt
Labels: consents, Cookie list

#1344 Ensure this snippet applys on first-party
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1345 Update YT rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1346 Sync with uBO
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1347 Apply YT scriptlets to ios also
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1348 Update Admiral servers
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1349 Update YT rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: First-party Ads

#1350 Update uBO rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: anti-adblock

#1353 Update Admiral servers
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1354 Update Youtube rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: Brave List Issue

#1362 Add YT to brave-fix
  brave-unbreak.txt
Labels: Brave List Issue

#1363 Add test fix for YT/ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1365 Fix youtube rules
  brave-lists/brave-firstparty.txt
Labels: Brave List Issue

#1366 Limit Youtube dissamissable anti-adblock warning
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1368 No longer needed
  brave-lists/brave-firstparty.txt
Labels: cleanup

#1369 Import fixes for chipotle.com
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1372 Fixes anti-brave warning on dashboard.userlytics.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1373 Fixes https://www.mirrativ.com/ playback
  brave-unbreak.txt
Labels: Brave List Issue

#1374 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1375 Fixes Anti-adb on ios maxroll.gg
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1377 Remove Impact.com's URL parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1380 Sync Yahoo ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1379 Remove Facebook third-party URL params
  brave-lists/clean-urls.json
Labels: Clean URLS

#1381 Update yt rule for iOS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1382 Add Google consent block
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1383 Add lidl.* consents
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1384 Fix issue on dailymail.co.uk due to quotes
  brave-unbreak.txt
Labels: Brave List Issue
