Repository brave/adblock-lists, pull requests merged in 2023-01, with the labels that each got.

#1056 Remove mod param from WallStreet Journal
  brave-lists/clean-urls.json
Labels: Clean URLS

#1057 Fix twitch-ios display issues
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1059 Update uBO Annoyances
  brave-unbreak.txt
Labels: uBO-Annoyances

#1055 Address https://github.com/brave/brave-browser/issues/27542
  brave-unbreak.txt
Labels: Brave List Issue

#1060 Fixes List your property on vrbo.com
  brave-unbreak.txt
Labels: google-login-nag

#1061 Adjust to cosmetic hiding on google login nag
  brave-unbreak.txt
Labels: google-login-nag

#1062 Fix anti-brave on video.wheel.health
  brave-unbreak.txt
Labels: Brave List Issue

#1063 Add a few more anti-brave checks
  brave-unbreak.txt
Labels: Brave List Issue

#1064 Fix Hindu anti-adblock
  brave-unbreak.txt
Labels: anti-adblock

#1065 Update uBO Annoyances
  brave-unbreak.txt
Labels: cleanup, uBO-Annoyances

#1067 Add streaklinks debounce
  brave-lists/debounce.json
Labels: Debounce

#1069 Remove YouTube mobile URL decorations
  brave-lists/clean-urls.json
Labels: Clean URLS
