Repository brave/adblock-lists, pull requests merged in 2023-05, with the labels that each got.

#1152 Fix YT search recommendations
  brave-lists/yt-recommended.txt
Labels: youtube additions

#1153 Fixes Cover Your tracks EFF test
  brave-unbreak.txt
Labels: Brave List Issue

#1154 Update YT Recommended rule
  brave-lists/yt-recommended.txt
Labels: youtube additions

#1157 Fix anti-adblock on https://www.timesunion.com/
  brave-unbreak.txt
Labels: anti-adblock, standard-shields

#1160 Temp fix for IOS filtering
  brave-unbreak.txt
Labels: ios specific, Brave List Issue

#1161 Add additional comments too https://github.com/brave/adblock-lists/pull/1160
  brave-unbreak.txt
Labels: cleanup

#1162 Fixes bigbtc.win Anti-brave
  brave-unbreak.txt
Labels: anti-adblock

#1158 Tiktok embedding parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1164 Fix https://github.com/brave/brave-browser/issues/19520
  brave-lists/https-upgrade-exceptions-list.txt
Labels: https

#1165 Add ztk5.net/rg35.net debounce
  brave-lists/debounce.json
Labels: Debounce

#1166 Fixes empty space on https://www.webmd.com/
  brave-unbreak.txt
Labels: standard-shields

#1167 Fix unblocked npr.org ad box
  brave-unbreak.txt
Labels: standard-shields

#1169 Remove unnecessary params on Bloomberg
  brave-lists/clean-urls.json
Labels: Clean URLS

#1171 Fixes anti-adblock on lightnovelpub.com
  brave-unbreak.txt
Labels: anti-adblock, uBO-domain-wildcard

#1172 Include lightnovelpub.com mirrors
  brave-unbreak.txt
Labels: uBO-domain-wildcard

#1173 Remove YT adblock-filters
  brave-unbreak.txt
Labels: cleanup

#1175 Add adservers on youtubevanced.com
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1174 Remove tracking param from Seek shares
  brave-lists/clean-urls.json
Labels: Clean URLS

#1176 Fix autonews.com CNAME
  brave-unbreak.txt
Labels: CNAME

#1178 Fix Spotify ads in https://github.com/brave/brave-browser/issues/30476
  brave-unbreak.txt
Labels: Brave List Issue

#1179 Add more unnecessary Amazon params
  brave-lists/clean-urls.json
Labels: Clean URLS

#1181 Add colourbox.com consent message
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1180 fix https://github.com/AdguardTeam/AdguardFilters/commit/7080a88ee7a9…
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1183 Update Admiral servers for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1185 Address debounce in https://github.com/brave/brave-browser/issues/30731
  brave-lists/debounce.json
Labels: Debounce
