Repository brave/adblock-lists, pull requests merged in 2024-04, with the labels that each got.

#1627 Update YT scriptlets for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1628 Merge brave-disable-pageview-api rules from experimental
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: experimental, page-view-detection

#1631 Update Ad elements on economist.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1632 Test YT rule for win7
  brave-lists/experimental.txt
Labels: experimental

#1633 Fixes sonichits.com anti-adblock
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#1634 Fixes aniwave.to popups
  brave-unbreak.txt
Labels: Brave List Issue

#1635 Update streaming sites popups
  brave-unbreak.txt
Labels: ios specific

#1636 Add more streaming popup domains
  brave-unbreak.txt
Labels: ios specific

#1637 Update YT experimental rules
  brave-lists/experimental.txt
Labels: Brave List Issue, experimental

#1638 Fixes win7/8 Youtube Crashes
  brave-unbreak.txt
Labels: Brave List Issue

#1639 Add mukhyamantriyojana.in to brave-fix
  brave-unbreak.txt
Labels: Brave List Issue

#1640 Update empty spaces first-party
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1641 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1644 Update YT quotes fixes
  brave-unbreak.txt
Labels: Brave List Issue

#1645 Fixes empty spaces macleans.ca
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1646 Fix smithsonianmag.com popup
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, Brave List Issue

#1647 Improve scriptlet adblocking on streaming services
  brave-unbreak.txt
Labels: ios specific

#1648 Further streaming updates
  brave-unbreak.txt
Labels: ios specific

#1650 Merged into Easylist, no longer needed
  brave-lists/brave-specific.txt
Labels: Brave List Issue

#1651 Update first-party filters
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers, puLL-Merge

#1652 Improve blocking on himovies.sx & movies7.to
  brave-unbreak.txt
Labels: ios specific, Brave List Issue

#1653 Fixes yts.mx popups
  brave-unbreak.txt
Labels: Brave List Issue

#1654 Import Anti-drain eth servers
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1655 Remove 1st party trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1657 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1658 Fixes cspdailynews.com overlay
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, needs-security-review

#1659 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1660 Fixes aniwave.to/antennasports.ru popups
  brave-unbreak.txt
Labels: ios specific

#1661 Update Brave specific rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: First-party Ads, First-party Trackers

#1662 Add more admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1663 New Youtube cosmetics in experimental
  brave-lists/experimental.txt
Labels: experimental

#1664 Update streaming popups
  brave-unbreak.txt
Labels: ios specific

#1665 Fixes Anti-Brave message on app.gather.town
  brave-unbreak.txt
Labels: Brave List Issue

#1667 Fix popups still occuring on yts.mx
  brave-unbreak.txt
Labels: Brave List Issue

#1668 Fixes anti-Brave on https://furecipes.com/
  brave-unbreak.txt
Labels: Brave List Issue

#1669 Improve blocking on supjav.com (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1670 Improve adblocking on IOS xhamster.com (NSFW)
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party Ads

#1671 Improve IOS blocking on missav.com (NSFW)
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1672 Remove Yoututbe filters
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1673 Remove unnecessary params from Narvar tracking URLs
  brave-lists/clean-urls.json
Labels: Clean URLS

#1674 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1675 Add first-party cosmetics
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#1676 Update Admiral server for https://m.wiki.pokemoncentral.it/Chingling
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1678 Update First-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1679 Revert YT fixes, adjust with new rules
  brave-unbreak.txt
Labels: Brave List Issue

#1680 Remove Salesforce Marketing Cloud email trackers
  brave-lists/clean-urls.json
Labels: Clean URLS

#1682 Disable less problematic youtube rules
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1683 Fix YT Shorts list
  brave-lists/brave-ios-specific.txt
  brave-lists/yt-shorts.txt
Labels: cleanup

#1684 Update GP links
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1685 Address https://community.brave.com/t/brave-browser-adblocker-blocks-scripts/540082
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1686 Remove old youtube ios rules
  brave-lists/brave-ios-specific.txt
Labels: cleanup, ios specific

#1681 Strip s_campaign from URLs
  brave-lists/clean-urls.json
Labels: Clean URLS

#1687 Add new youtube fix for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1688 Update ios/first-party
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party Trackers

#1689 Improve streaming popups
  brave-unbreak.txt
Labels: Brave List Issue

#1690 Fixes brave detection on infinityskull.com and others
  brave-unbreak.txt
Labels: Brave List Issue

#1691 Fixes kefayde.com anti-brave
  brave-unbreak.txt
Labels: Brave List Issue

#1692 Add music streaming too pageview experimental
  brave-lists/experimental.txt
Labels: experimental

#1694 Cleanup vipbox/viprow
  brave-unbreak.txt
Labels: cleanup

#1696 Fix Admiral and YT ads (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1695 Add app.link tracking params
  brave-lists/clean-urls.json
Labels: Clean URLS

#1693 Remove mbid from Condé Nast sites
  brave-lists/clean-urls.json
Labels: Clean URLS
