Repository brave/adblock-lists, pull requests merged in 2024-05, with the labels that each got.

#1698 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1700 Update smithsonianmag.com fixes
  brave-lists/brave-firstparty.txt
Labels: Brave List Issue

#1701 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1699 Add LinkedIn's trackingId
  brave-lists/clean-urls.json
Labels: Clean URLS

#1702 Remove search_identifier from Zoopla
  brave-lists/clean-urls.json
Labels: Clean URLS

#1704 Add Eventbrite's international domains
  brave-lists/clean-urls.json
Labels: Clean URLS

#1706 Update brave-disable-pageview-api domains
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue, experimental

#1709 Update cosmetic rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1710 Add various streaming services to brave-disable-pageview-api
  brave-lists/experimental.txt
Labels: experimental

#1711 Update rules for ios/exp/first-party
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-lists/experimental.txt
Labels: ios specific, First-party ads (cosmetics), experimental

#1708 Test rules for msftconnecttest.com redirect issues
  brave-lists/https-upgrade-exceptions-list.txt
Labels: https

#1713 Update Youtube rule
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1714 Improve internet Radio coverage page-view-api detection
  brave-lists/experimental.txt
Labels: experimental

#1715 Sync with Easylist change for .ad-box
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads

#1718 Address komikdewasa.art popups
  brave-unbreak.txt
Labels: Brave List Issue

#1719 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1722 Fix Ad-shield
  brave-lists/brave-firstparty.txt
Labels: Brave List Issue, First-party Ads

#1723 Fixes thejakartapost.com elements
  brave-unbreak.txt
Labels: ubo remove()

#1725 Cleanup Unbreak rules
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: cleanup, First-party Ads

#1726 Fixes Bloomberg.com cookie popup
  brave-lists/brave-cookie-specific.txt
Labels: consents

#1727 Remove ref from EventBrite
  brave-lists/clean-urls.json
Labels: Clean URLS

#1728 Fixes anti-adblock on tioeroge.blogspot.com
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#1729 Improve adblock on pornhub and xhamster
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific, First-party ads (cosmetics)

#1730 Update Admirals servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1731 Fix instacart.com ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1732 Move Instacart blocks to ios
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1733 Update cosmetics on first-party
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1734 Fixes Anti-adblock on nypost
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1736 Fixes popup on mangaraw.ac
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1737 Fixes https://github.com/brave/adblock-lists/issues/1608
  brave-unbreak.txt
Labels: cleanup

#1735 Strip "source" from bamboohr share URLs
  brave-lists/clean-urls.json
Labels: Clean URLS

#1738 Improve thestreet.com blocking
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party ads (cosmetics)

#1739 Update pageview checks
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue, experimental

#1741 Update Admiral domains
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1742 Fix m.etoday.co.kr anti-adblock
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#1744 Fix deezer from https://github.com/easylist/easylist/issues/19183
  brave-unbreak.txt
Labels: uBO Issue

#1745 Fixes upstream in uBO, no longer needed
  brave-unbreak.txt
Labels: cleanup

#1746 Update First-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1747 Fixes Admiral servers for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1748 Update popups
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue, First-party Ads

#1749 Fixes empty cosmetic space issues
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1750 Fix various p__n sites (NSFW)
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1752 Include fixes on YT-orginal
  brave-lists/experimental.txt
Labels: experimental

#1753 Test filter for youtube nags
  brave-lists/experimental.txt
Labels: experimental

#1754 Include recommendations nag
  brave-lists/experimental.txt
Labels: experimental

#1755 Remove more YouTube params in shared URLs
  brave-lists/clean-urls.json
Labels: Clean URLS

#1756 Include YT fix for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1757 Increase trustedclick timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1759 Remove old google rules
  brave-lists/brave-cookie-specific.txt
Labels: cleanup

#1761 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#1762 Cleanup redundant rules
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party ads (cosmetics)

#1763 add cnn.com to unbreak.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1764 Fix anti-brave on cnnespanol.cnn.com
  brave-unbreak.txt
Labels: Brave List Issue

#1765 Fix YT popup its cable
  brave-lists/experimental.txt
Labels: experimental

#1767 Exempt mitmproxy installation URL
  brave-lists/https-upgrade-exceptions-list.txt
Labels: https

#1769 Update admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1770 Stop redirection on cnnespanol.cnn.com
  brave-unbreak.txt
Labels: Brave List Issue

#1771 Fixes foxnews.com playback
  brave-unbreak.txt
Labels: env-ubo

#1772 Fixes Coindesk login resets
  brave-unbreak.txt
Labels: Peter Lowes list, needs-security-review

#1773 Fixes consumer reviews on patagonia.com
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1774 Counter music.youtube.com background checks (and others)
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue, experimental

#1775 Fixes music.youtube.com popup
  brave-lists/experimental.txt
Labels: experimental

#1776 Avoid google detection of Brave
  brave-unbreak.txt
Labels: Brave List Issue
