Repository brave/adblock-lists, pull requests merged in 2024-01, with the labels that each got.

#1458 Fix empty space on reuters.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1459 Update chron.com,mysanantonio.com,sfgate.com rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1460 Few more streaming popups
  brave-unbreak.txt
Labels: Brave List Issue

#1455 Clean ebay links
  brave-lists/clean-urls.json
Labels: Clean URLS

#1461 Remove Instagram's new `igsh` parameter ("Share to...")
  brave-lists/clean-urls.json
Labels: Clean URLS

#1463 Add shopify 1p trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1465 Attempt fix of https://old.reddit.com/r/brave_browser/comments/194e095/streameast_blocked_brave_browser_recently_ugh_any/
  brave-unbreak.txt
Labels: Brave List Issue, needs-security-review

#1466 Additional www.thestreameast.to fixes
  brave-unbreak.txt
Labels: Brave List Issue

#1467 FIxes Ads on eporner.com (NSFW)
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1468 Fixes Admiral 1p scripts on dotesports/primagames
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1469 Fixes https://www.soundonsound.com/ blank spaces
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1470 Update stuff.co.nz sites, fixes empty ad space
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1472 Fixes Linked in ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1473 Cover more Linked in Languages
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1474 Fixes https://github.com/brave/brave-browser/issues/35431
  brave-unbreak.txt
Labels: GPC Related

#1475 Update Admiral rules
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific, Brave List Issue

#1477 Re-implement https://github.com/brave/adblock-lists/pull/1471
  brave-unbreak.txt
Labels: Brave List Issue

#1478 No longer needed YT rule
  brave-unbreak.txt
Labels: cleanup

#1480 Cleanup time.com standard blocking mode
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1481 Fixes sephora.com homepage loading issue
  brave-unbreak.txt
Labels: Brave List Issue

#1482 Fixes sephora.com gpc issues
  brave-unbreak.txt
Labels: Brave List Issue, GPC Related

#1483 Fixes antiadblock on maxroll.gg
  brave-unbreak.txt
Labels: anti-adblock

#1484 Fixes empty space on vg247.com and related
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1485 Fix Youtube delays on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1486 Apply YT rules to unbreak
  brave-unbreak.txt
Labels: Brave List Issue

#1487 Fixes open-in-app fix for imgur.com
  brave-unbreak.txt
Labels: Mobile App

#1488 Avoid GPC detection on weather.com
  brave-unbreak.txt
Labels: GPC Related

#1489 Optimise YT filters
  brave-unbreak.txt
Labels: Brave List Issue, perf

#1490 Quick fix on sponsored items
  brave-unbreak.txt
Labels: Brave List Issue

#1492 Fixes first-party on https://parade.com/1193518/marynliles/cheese-puns/
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1493 Remove Old quick fixes in unbreak
  brave-unbreak.txt
Labels: uBO-QuickFixes

#1494 Fixes possible issue on youtube
  brave-unbreak.txt
Labels: Brave List Issue

#1495 Fixes https://github.com/brave/brave-browser/issues/35714
  brave-unbreak.txt
Labels: Brave List Issue
