Repository brave/adblock-lists, pull requests merged in 2024-10, with the labels that each got.

#2069 Sync first-party ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#2070 Add typo'd version of the utm_* params that Eventbrite uses
  brave-lists/clean-urls.json
Labels: Clean URLS

#2072 Add podcasts checks on pageview api checks
  brave-lists/brave-specific.txt
Labels: page-view-detection

#2073 Remove itid from Washington Post
  brave-lists/clean-urls.json
Labels: Clean URLS

#2074 Fixes Anti-adblock message on yonder.fr
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, First-party Ads

#2076 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2075 Add various Ita news sites
  brave-lists/clean-urls.json
Labels: Clean URLS

#2077 Fix dotmovies.guru popups
  brave-lists/brave-specific.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2078 Fix popups on masa49.com (nsfw)
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#2079 Sync first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2080 Fix sardine.ai rule
  brave-unbreak.txt
Labels: Brave List Issue

#2081 Add test rules for Ad shields
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2083 Add Pageview list
  brave-lists/brave-pageview.txt
Labels: Brave List Issue, page-view-detection

#2084 Additional ad-shield checks
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2085 Add news.livedoor.com rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads), japanese rules

#2086 Fix consents on golf-live.at
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2088 Sync popups
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2089 Update pageview streaming sites
  brave-lists/brave-specific.txt
Labels: page-view-detection

#2090 Add various news sites
  brave-lists/brave-specific.txt
Labels: page-view-detection

#2092 Address https://github.com/brave/brave-browser/issues/41539
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2093 Remove Spotify's share ID
  brave-lists/clean-urls-permissions.json
  brave-lists/clean-urls.json
Labels: Clean URLS

#2091 Debounce cc.mashable.com
  brave-lists/debounce.json
Labels: Debounce

#2094 Sort domains
  brave-lists/brave-specific.txt
Labels: page-view-detection

#2095 Cleanup rules
  brave-unbreak.txt
Labels: Brave List Issue, puLL-Merge

#2096 Sync brave-pageview.txt rules
  brave-lists/brave-pageview.txt
  brave-lists/brave-specific.txt
Labels: page-view-detection

#2097 Fixes Anti-adblock on medjournaldaily.com
  brave-unbreak.txt
Labels: anti-adblock, cleanup

#2100 Update 1p cosmetics (various Canadian sites)
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2101 Address issues with timesofindia.indiatimes.com/m.economictimes.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2103 Move to unbreak and cover more domains
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2104 update linkedin puzzles
  brave-lists/experimental.txt
Labels: experimental

#2105 Improve blocking on tvsportslive.fr
  brave-unbreak.txt
Labels: Brave List Issue

#2106 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2107 Address https://github.com/brave/brave-browser/issues/41686
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2109 Add data-ad-name exception rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2110 Add whatsapp.com to brave-fix
  brave-unbreak.txt
Labels: Brave List Issue

#2111 Fix popups on couchtuner
  brave-unbreak.txt
Labels: Brave List Issue

#2112 Fix video ads on https://www.motor1.com/
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2115 Sync time delay fixes with uBO
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2113 Remove attribution ID from gofundme share links
  brave-lists/clean-urls-permissions.json
  brave-lists/clean-urls.json
Labels: Clean URLS

#2114 Add two extra param to Wallstreet Journal entry
  brave-lists/clean-urls.json
Labels: Clean URLS

#2116 Update 1st party cosmetics rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2117 Strip out utm_internal
  brave-lists/clean-urls.json
Labels: Clean URLS

#2118 Cleanup old YT filters
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: cleanup, ios specific

#2119 Address audio ads issue on spotify.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2120 Restore previous PR
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: cleanup

#2122 Remove dube
  brave-unbreak.txt
Labels: cleanup

#2124 Add macrus.com checks on brave-unbreak
  brave-unbreak.txt
Labels: Brave List Issue

#2125 Update popups
  brave-unbreak.txt
Labels: Brave List Issue

#2126 Add thenation.com anti-adblock
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#2129 Sync first-party updates
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#2130 Fixes Admiral popup on thestreet.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)
