Repository brave/adblock-lists, pull requests merged in 2024-11, with the labels that each got.

#2132 Add first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2131 Loosen up existing rule for streak-link.com
  brave-lists/debounce.json
Labels: Debounce

#2133 Fixes www.1001tracklists.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2134 Update admiral servers for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2135 Address datanodes.to popups
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party ads (ads)

#2136 Improve apkmirror.com cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2137 Update various popup servers
  brave-unbreak.txt
Labels: Brave List Issue

#2138 Update popups on neymartv
  brave-unbreak.txt
Labels: Brave List Issue

#2139 Update popups from toonstream
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: puLL-Merge, First-party ads (ads)

#2140 Update popup domains
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue, puLL-Merge, First-party ads (ads)

#2142 Update Admirals servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2143 Fix ads on https://community.brave.com/t/amgreatness-com-showing-ads/580240
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2145 Remove viefaucet rules being baited
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2146 Update various popups
  brave-unbreak.txt
Labels: puLL-Merge

#2147 Update Kissanime rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party Ads

#2148 Update yahoo.com rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2149 Fixes 1p adscript on https://toonstream.co/episode/dan-da-dan-1x4/
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2150 No longer needed
  brave-unbreak.txt
Labels: cleanup

#2152 Update Anti-adblock from ubO Annoyances
  brave-unbreak.txt
Labels: cleanup, puLL-Merge

#2154 Fix various sites
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: anti-adblock, First-party Ads

#2155 Fix streaming popups
  brave-unbreak.txt
Labels: Brave List Issue, puLL-Merge

#2156 Cleanup embedme.top rules
  brave-unbreak.txt
Labels: cleanup

#2157 Remove vudu.com, add player.streamguys.com
  brave-lists/brave-pageview.txt
  brave-lists/brave-specific.txt
Labels: puLL-Merge, page-view-detection

#2158 Address sfgate.com strict3p work around
  brave-unbreak.txt
Labels: Brave List Issue

#2159 Update strict3p domains
  brave-unbreak.txt
Labels: Brave List Issue

#2160 Address some missing regex rules from uBO
  brave-unbreak.txt
Labels: Brave List Issue

#2161 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#2162 Fixes anti-brave on thevouz.in
  brave-unbreak.txt
Labels: Brave List Issue

#2164 Attempt redirection fix for twitter.com
  brave-unbreak.txt
Labels: Brave List Issue

#2163 Remove Threads' XMT Tracker
  brave-lists/clean-urls-permissions.json
  brave-lists/clean-urls.json
Labels: Clean URLS

#2165 Address https://github.com/brave/brave-browser/issues/42361
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2167 Fixes https://github.com/brave/brave-browser/issues/40297
  brave-lists/brave-firstparty.txt
  brave-lists/experimental.txt
Labels: First-party Ads

#2168 Update regex used
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2169 Add more abysscdn.com rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2170 Add work around for shadow-root
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2172 Add klm sub domains
  brave-lists/webcompat-exceptions.json
Labels: webcompat

#2171 Debounce search.app
  brave-lists/debounce.json
Labels: Debounce

#2173 Address https://github.com/brave/brave-browser/issues/28439
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2174 Address https://github.com/brave/brave-browser/issues/36282
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2175 Remove unnecessary parameters on dice.fm
  brave-lists/clean-urls.json
Labels: Clean URLS

#2176 Fix zealy.io anti-brave popup
  brave-unbreak.txt
Labels: Brave List Issue

#2177 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2179 Address https://github.com/brave/brave-browser/issues/42416
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2180 Cover IOS google Search by voice
  brave-lists/brave-ios-specific.txt
Labels: ios specific, uBO-domain-wildcard

#2181 Fix popups on dwish.pro
  brave-unbreak.txt
Labels: Brave List Issue

#2182 Address https://github.com/brave/brave-browser/issues/42600
  brave-lists/webcompat-exceptions.json
Labels: webcompat

#2183 Test google recommends fix
  brave-lists/experimental.txt
Labels: experimental

#2185 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads
