Repository brave/adblock-lists, pull requests merged in 2024-12, with the labels that each got.

#2187 Update 1stp cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2188 Fixes luluvdo.com
  brave-unbreak.txt
Labels: Brave List Issue

#2189 Update HEAD ads
  brave-unbreak.txt
Labels: Brave List Issue

#2192 Fix empty cosmetics on smh.com/the-independent.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2194 Fix anti-adblock on chron.com mirrors
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, First-party Ads

#2195 Address xhamster.com video ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2193 Debounce Cision redirector
  brave-lists/debounce.json
Labels: Debounce

#2196 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2197 Update regex on toonstream.co/basahin.icu
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#2199 Add linkedin.com game embeds
  brave-unbreak.txt
Labels: Brave List Issue

#2201 Fixes southparkstudios.com anti-adblock
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#2202 Remove redundant YT cosmetics
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: cleanup, First-party Ads

#2203 Update Youtube nag popups
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2204 Workaround for https://github.com/brave/brave-browser/issues/42496
  brave-unbreak.txt
Labels: Brave List Issue

#2207 Address https://github.com/brave/brave-browser/issues/42874
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2208 Add various streaming sites
  brave-unbreak.txt
Labels: Brave List Issue

#2209 Improve adblocking on fmovies and others
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2210 Update streaming servers
  brave-unbreak.txt
Labels: Brave List Issue

#2211 Address login issues for duolingo.com
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#2212 Fix bait cosmetics, import from uBO
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2213 Fix scroll on ft.com on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2214 Fixes login not showing up in https://account.mondoconv.it/login
  brave-unbreak.txt
Labels: Brave List Issue

#2215 Address fingerprinting on cibc banking
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#2216 Add .ad-placeholder bait fix from uBO
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2217 Update filters
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party ads (ads)

#2219 Fix linkedin Activity feed
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2220 Update popups for fullmoviesw.com/vegamovies4u.beauty
  brave-unbreak.txt
Labels: Brave List Issue

#2221 Add additional rules for linkedin
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2222 Re-sync 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2224 Address popups on animeonline.ninja/movieshdwatch.to
  brave-unbreak.txt
Labels: Brave List Issue

#2225 Update first-party rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2227 Cover wildcard domains for desktop
  brave-unbreak.txt
Labels: Brave List Issue, Desktop specific

#2228 No longer needed, youtube fix no longer needed
  brave-unbreak.txt
Labels: cleanup

#2229 Update streaming sites
  brave-unbreak.txt
Labels: Brave List Issue

#2230 Add first-party anti-adblock scripts
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2231 fix putlocker.vip banners
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2232 Update streaming popups
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific, Brave List Issue

#2233 Cover popads fake css rule
  brave-unbreak.txt
Labels: Brave List Issue

#2234 Improve video loading speed on hdontap.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2235 Fixes anti-brave message on aipebel.com
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#2236 Address https://github.com/brave/brave-browser/issues/43050
  brave-lists/brave-specific.txt
  brave-lists/localhost-permission-allow-list.txt
Labels: Localhost

#2238 Improve popads adsblocking on www.tvids.to
  brave-unbreak.txt
Labels: Brave List Issue

#2239 Allow popup on animeflv.support
  brave-unbreak.txt
Labels: Brave List Issue
