Repository brave/adblock-lists, pull requests merged in 2024-06, with the labels that each got.

#1777 Update Admiral servers for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1778 Fixes tryhardsports.com
  brave-unbreak.txt
Labels: anti-adblock

#1779 Address https://community.brave.com/t/ads-not-being-blocked-and-sites…
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1780 Cover various pointmall.rakuten.co.jp ads
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#1781 Fixes popups on filmi7.net
  brave-unbreak.txt
Labels: Brave List Issue

#1782 Fix regex on https://doujindesu.tv/ (NSFW)
  brave-unbreak.txt
Labels: regex

#1784 Update dailymail and thisismoney rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1785 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1786 Update Youtube rules for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1788 Fixes popups on zoroxtv.to
  brave-unbreak.txt
Labels: Brave List Issue

#1789 Test SSAP YT Rules
  brave-lists/experimental.txt
Labels: experimental

#1790 Update popups
  brave-unbreak.txt
Labels: Brave List Issue

#1791 Fix popup xmegadrive.com
  brave-unbreak.txt
Labels: Brave List Issue

#1792 Update radio streams
  brave-lists/experimental.txt
Labels: experimental

#1793 Update YT rule
  brave-lists/experimental.txt
Labels: experimental

#1796 No longer needed
  brave-lists/experimental.txt
Labels: cleanup

#1801 Fix #didomi-notice-agree-button popup
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1798 Remove social share parameters on Amazon
  brave-lists/clean-urls.json
Labels: Clean URLS

#1803 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1804 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1805 Fix popup on mgeko.cc
  brave-unbreak.txt
Labels: Brave List Issue

#1807 Test YT rules
  brave-lists/experimental.txt
Labels: experimental

#1808 Fixes jnovels.com popups
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#1809 Fix cadenaser.com consent
  brave-lists/brave-cookie-specific.txt
Labels: consents

#1806 Add twitch.tv rules from https://github.com/brave/adblock-resources/pull/160
  brave-lists/experimental.txt
Labels: experimental

#1811 Update YT for IOS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1814 Address cosmetic elements on thedrum.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1815 No longer needed YT rules
  brave-unbreak.txt
Labels: cleanup

#1818 Update admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1820 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1821 Fixes cntraveler.com cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1819 Remove two more seemingly unnecessary Amazon parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1822 Re-sync YT changes for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1823 Fixes invideo adverts empty elements
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads, First-party ads (cosmetics)

#1824 Remove more parameters from Condé Nast properties
  brave-lists/clean-urls.json
Labels: Clean URLS

#1825 Fixes movies4u.gold popups
  brave-unbreak.txt
Labels: Brave List Issue

#1826 Address https://github.com/brave/brave-browser/issues/39282 workaround
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: webcompat, revisit

#1827 Update YT rules
  brave-lists/brave-ios-specific.txt
Labels: cleanup, ios specific

#1829 Fixes animepahe.ru popups
  brave-unbreak.txt
Labels: Brave List Issue

#1828 Fixes anix.vc
  brave-unbreak.txt
Labels: Brave List Issue

#1830 Update ad cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1831 Minor update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1832 Update admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1833 Update anime sites
  brave-unbreak.txt
Labels: Brave List Issue

#1834 Fix for fmovies24.to
  brave-unbreak.txt
Labels: Brave List Issue

#1835 Fixes popup on antronio.cl
  brave-unbreak.txt
Labels: Brave List Issue

#1836 Fixes visortmo.com popups and cosmetics
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party ads (ads)

#1837 Fixes vip.idlixofficialx.com anti-adblock
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1838 Fixes cosmetic ads on https://vip.idlixofficialx.com/episode/rick-and-morty-season-2-episode-5-get-schwifty/
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1839 Fixes partial display on m.youtube.com
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1840 Fixes Brave detection on telehealth.epic.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1841 Add self-hosted Iceland list
  custom/is.txt
Labels: Icelandic List

#1842 Address gogoanimes popups
  brave-unbreak.txt
Labels: Brave List Issue

#1843 Fixes pageview checks on cnn.com
  brave-unbreak.txt
Labels: Brave List Issue, page-view-detection

#1845 Address YT dev rule
  brave-unbreak.txt
Labels: Brave List Issue

#1846 Fixes clickout ads
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1847 Fixes popups on buffstreams.ai
  brave-unbreak.txt
Labels: Brave List Issue

#1848 Fix lego signin warning
  brave-unbreak.txt
Labels: Brave List Issue

#1849 Update Didomi cookie popups
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list
