Repository brave/adblock-lists, pull requests merged in 2024-09, with the labels that each got.

#2019 Fixes https://github.com/brave/brave-browser/issues/40796
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2020 Generic adblock elements
  brave-lists/brave-specific.txt
Labels: ios specific, Brave List Issue, android specific

#2023 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2025 Japan 1p fixes
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party ads (ads)

#2024 Add howl.me debounce
  brave-lists/debounce.json
Labels: Debounce

#2026 Add mobile jpn rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2027 Update Admiral servers for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2028 Update consent delays
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2029 Fixes anti-adblock on drakecomic.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2030 Remove Google's Merchant Center conversion tracker
  brave-lists/clean-urls.json
Labels: Clean URLS

#2031 fixes cvs.com app banner
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2032 Add reddit.com to google login popup
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2033 Add lego cookie consent
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2034 Update online radio streaming pageviews
  brave-lists/brave-specific.txt
Labels: page-view-detection

#2035 Improve empty space issues on news.yahoo.co.jp
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads), japanese rules

#2036 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#2037 Address https://github.com/brave/brave-browser/issues/40951
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#2038 Update cnn.com video ads
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2039 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2040 Fixes cnnespanol.cnn.com occasional video issues
  brave-unbreak.txt
Labels: Brave List Issue

#2041 Remove unnecessary Gamefound parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#2042 Update trusted-click-element delays
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2043 Fix anti-adblock for drakecomic.org
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#2044 Improve blocking on mangaworld.ac
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2045 Combine onetrust-accept-btn-handler rules
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2046 Fixes ads on https://www.cafedelabourse.com/
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2048 Update consent delays
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2047 Fix bottom bar, remove welcome search text
  brave-lists/yt-recommended.txt
Labels: youtube additions

#2049 Fix yahoo consent typo
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2050 Fix popups in cuevana.biz
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party ads (ads)

#2052 Experimental twitch.tv rules no longer needed
  brave-lists/experimental.txt
Labels: experimental

#2053 Update cookie timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2054 Leave Proofpoint redirect URLs untouched
  brave-lists/clean-urls.json
Labels: webcompat, Clean URLS

#2051 Debounce Postmark link tracker
  brave-lists/debounce.json
Labels: Debounce

#2055 Disable twitch rules
  brave-lists/brave-twitch.txt
  brave-lists/experimental.txt
Labels: experimental

#2056 Fix screenshare on zoom.us
  brave-unbreak.txt
Labels: Brave List Issue

#2057 Revert YT change, use previous working rule
  brave-unbreak.txt
Labels: Brave List Issue

#2058 Improve blocking on new.misshit.top
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#2059 Fixes anti-adblock messages on bilibili.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2061 Fixes xfinity.com streaming
  brave-unbreak.txt
Labels: Brave List Issue

#2064 Sync Admiral servers with EP
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2065 Update YT rules for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2066 Address geforcenow.com,hackerrank.com anti-brave checks
  brave-unbreak.txt
Labels: Brave List Issue

#2067 Address uploadmall.com https://github.com/AdguardTeam/AdguardFilters/issues/189490
  brave-unbreak.txt
Labels: Brave List Issue

#2068 Fix navigator.brave check on geforcenow.com
  brave-unbreak.txt
Labels: Brave List Issue
