Repository brave/adblock-lists, pull requests merged in 2024-08, with the labels that each got.

#1934 Update firstparty cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1933 Temp re-enabled YT rule
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue, experimental

#1935 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1937 Fix weather.com tabswitching
  brave-unbreak.txt
Labels: page-view-detection

#1938 Update invideo rules for first-party
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1939 Fix youtube.com ads in Brave release
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1940 Test YT rule
  brave-lists/experimental.txt
Labels: experimental

#1941 Temp disable YT rules
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: cleanup

#1943 Increase fallback timeouts for various trusted-clicks (for slower devices or slower networks)
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1946 Add new YT rule for IOS
  brave-lists/brave-ios-specific.txt
  brave-lists/experimental.txt
Labels: ios specific

#1947 Add another Amazon param
  brave-lists/clean-urls.json
Labels: Clean URLS

#1945 Add new Google Analytics 4 parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1936 Debounce Laylo's email redirector
  brave-lists/debounce.json
Labels: Debounce

#1949 Cleanup rules and fix popups.
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads, puLL-Merge

#1950 Add didomi-notice-agree-button increase timeout
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1952 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1954 Address alltrails.com app notice (Mobile UA)
  brave-lists/brave-specific.txt
Labels: In app notices

#1948 Sync first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1956 Re-sync changes from uBO
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1959 Add preemptive fixes for goto.com & twitch
  brave-unbreak.txt
Labels: Brave List Issue

#1960 Address https://github.com/brave/brave-browser/issues/40440
  brave-lists/webcompat-exceptions.json
  brave-unbreak.txt
Labels: fingerprint

#1961 Remove referral param from TicketWeb properties
  brave-lists/clean-urls.json
Labels: Clean URLS

#1962 Add another random-looking redirector domain
  brave-lists/debounce.json
Labels: Debounce

#1964 Update Shorts on m.youtube.com
  brave-lists/yt-shorts.txt
Labels: Mobile specific filters

#1965 Update cosmetics for Brave
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1967 Add bollyflix.how fixes for ios
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1971 Attempted fix for pornhub.com
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party ads (ads)

#1958 Add twitch.tv list
  brave-lists/brave-twitch.txt
Labels: custom

#1972 Add more fallbacks for cdn.privacy-mgmt.com & didomi-notice-agree-button
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1970 Debounce WordSeed links
  brave-lists/debounce.json
Labels: Debounce

#1969 Financial Times also uses the trk param
  brave-lists/clean-urls.json
Labels: Clean URLS

#1973 Address https://github.com/brave/brave-browser/issues/40568
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#1974 Fix garmin first-party hang due to first-party tracking script.
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1977 Fix wsj.com image issues
  brave-unbreak.txt
Labels: uBO Issue

#1976 Update Ad-shield on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1979 Add various tv streaming/media strreaming/podcast sites
  brave-lists/brave-specific.txt
Labels: page-view-detection

#1980 Update 1p ads
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1978 Goodreads params
  brave-lists/clean-urls.json
Labels: Clean URLS

#1982 Sync Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1984 Sync Ad-shield on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1985 Update YT rules for IOS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1987 Update admiral rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1988 Address https://github.com/brave/brave-browser/issues/40644
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#1989 Fixes popups on sxyprn
  brave-unbreak.txt
Labels: Brave List Issue

#1990 Fixes popups on subtitlecat.com
  brave-unbreak.txt
Labels: Brave List Issue

#1991 Fixes cookies messages
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1992 Remove rules merged into uBO
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1993 Fixes anti-brave check on help.sakarnewz.com
  brave-unbreak.txt
Labels: Brave List Issue

#1994 Update cookie timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1997 Cleanup kissanime sites
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue, First-party ads (ads)

#1998 First-party kimcartoon/anime ads
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1986 Campaign and link tracking used on CBS properties
  brave-lists/clean-urls.json
Labels: Clean URLS

#2001 Improve blocking on readcomiconline
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: puLL-Merge, First-party ads (ads)

#1995 Update debounce various urls
  brave-lists/debounce.json
Labels: Debounce

#2000 Remove nb_* parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1999 Debounce Ascend redirector
  brave-lists/debounce.json
Labels: Debounce

#1996 Add shopping.yahoo.com debounce
  brave-lists/debounce.json
Labels: Debounce

#2002 Disable Ad-shield rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific, puLL-Merge

#2003 Update brave-disable-pageview-api domains
  brave-lists/brave-specific.txt
  brave-lists/experimental.txt
Labels: page-view-detection

#2006 Add pandora.com to navigator.connection checks
  brave-unbreak.txt
Labels: navigator.connection

#2007 Update photo rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2008 Missing advert on photopeas
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2010 Update cookie timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2009 Remove beehiiv link ID
  brave-lists/clean-urls.json
Labels: Clean URLS

#2012 Fix Ad-shield issues on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2014 Fix blank space issues on adage.com and other domains
  brave-unbreak.txt
Labels: Brave List Issue

#2013 Remove two parameters on shared NYT articles
  brave-lists/clean-urls.json
Labels: Clean URLS

#2015 Update YT ios rule
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2016 Update photopea rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2017 Update Twitter ad rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2018 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party ads (ads)

#2004 Implement fixes from https://github.com/uBlockOrigin/uAssets/blob/master/filters/lan-block.txt#L107
  brave-lists/brave-specific.txt
  brave-lists/localhost-permission-allow-list.txt
Labels: Localhost
