Repository brave/adblock-lists, pull requests merged in 2024-03, with the labels that each got.

#1559 Add checks for pageview checks into experimental
  brave-lists/experimental.txt
Labels: experimental

#1561 Improve blocking on attackertv
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1560 Cleanup dead domains
  brave-unbreak.txt
Labels: cleanup

#1563 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1564 Improve blocking on animeflv.net
  brave-unbreak.txt
Labels: Brave List Issue

#1565 Update ios popups
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific, Brave List Issue

#1566 Add a fix for soap2day popups
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1567 Update youtube rules for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1568 Fixes france24 empty space issue
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1569 Improve fixes on france24.com
  brave-lists/brave-firstparty.txt
Labels: cleanup

#1570 Preemptive fix for britishairways.com
  brave-unbreak.txt
Labels: Brave List Issue, needs-security-review

#1571 Remove more unnecessary Amazon URL parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1572 Update ios popups for various streaming sites
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1573 Fix open-in-app nag on reddit.com mobile
  brave-unbreak.txt
Labels: Brave List Issue

#1574 Fixes login button on britishairways.com
  brave-unbreak.txt
Labels: needs-security-review, fingerprint

#1576 Update first-party blank elements
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1577 Increase to 2sec for chrono24 websites
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1578 Update ios popups
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1579 Improve blocking on fmovies ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1581 Add background play for tiktok
  brave-lists/experimental.txt
Labels: experimental

#1580 Fixes ios popups on https://sflix.to/
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1582 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1583 Update healthline.com rules
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1575 Fixes anti-Brave checks on coinbase.com
  brave-unbreak.txt
Labels: Brave List Issue

#1585 Prevent checks on brave from openai.com
  brave-unbreak.txt
Labels: Brave List Issue

#1586 Fix popups on 1hd.to
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1587 Revert ba.com fixes
  brave-unbreak.txt
Labels: cleanup, needs-security-review

#1589 Update YT rules with EL
  brave-unbreak.txt
Labels: Brave List Issue

#1590 Fixes youtube cosmetics (again)
  brave-unbreak.txt
Labels: bug

#1591 Update various news sites first-party
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1592 Fixes randomised scripts on domains
  brave-unbreak.txt
Labels: Brave List Issue

#1593 Fix displaying consents on slower connections
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1595 Remove search.brave.com filter
  brave-unbreak.txt
Labels: Brave List Issue

#1596 Cleanup more search rules
  brave-unbreak.txt
Labels: cleanup

#1597 Update cosmetic blank elements for various sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, needs-security-review

#1599 Test brave-disable-pageview-api on nicovideo.jp
  brave-lists/experimental.txt
Labels: experimental

#1600 Update on cosmetics on first-party
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1602 Fixes ads on myabandonware.com/coingecko.com
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, First-party ads (cosmetics)

#1603 Remove unnecessary parameters from New York Times links
  brave-lists/clean-urls.json
Labels: Clean URLS

#1604 Fix search.brave.com ad flash
  brave-unbreak.txt
Labels: standard-shields

#1605 Update streaming popups
  brave-unbreak.txt
Labels: ios specific

#1606 Update brave-fix domains
  brave-unbreak.txt
Labels: Brave List Issue

#1607 Further fixes on redirect services
  brave-unbreak.txt
Labels: Brave List Issue

#1609 Fixes ncaa.com videos
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue, First-party Ads

#1610 Adjust filter for medium.ngtv.io
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1612 Fixes some empty spaces on various sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1613 Fixes anti-adblock on taazaalerts.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1614 Fixes anti-adblock on mahabhulekh712.in
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1615 Partial import of ubo-link-short
  brave-unbreak.txt
Labels: anti-adblock

#1616 Fixes popup on uiiumovies.net
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1617 Update 1st-party rules
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1619 introducing webcompat-exceptions.json
  brave-lists/webcompat-exceptions.json
Labels: unverified-commits

#1620 Remove spotify fixes
  brave-unbreak.txt
Labels: Brave List Issue

#1621 Add new MailerLite parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#1622 Fixes ad script on twitch.tv
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1623 Update youtube cosmetic rules
  brave-unbreak.txt
Labels: Brave List Issue

#1624 Improve adblock on news.sky.com
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party Ads, First-party Trackers, First-party ads (cosmetics)

#1625 Sync YT changes with uBO
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1626 Address upstream YT changes
  brave-lists/brave-ios-specific.txt
Labels: ios specific
