Repository brave/adblock-lists, pull requests merged in 2024-07, with the labels that each got.

#1853 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1854 Fix ads on timesofindia.indiatimes.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics), First-party ads (ads)

#1856 Add Radio-Canada param related to its Facebook app
  brave-lists/clean-urls.json
Labels: Clean URLS

#1857 Add new config file for extending "copy clean link" to the JS API
  brave-lists/clean-urls-permissions.json
  tools/debounce_validation/test_debounce_validation.py
Labels: Clean URLS

#1861 Adjust fix for buffstreams.ai popups
  brave-unbreak.txt
Labels: Brave List Issue

#1860 Address iPAD OS on *.youtube.com also
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1862 Sync First-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1863 Fixes ladbible.com mirrors
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1866 Drop parameter from shared Tumblr links
  brave-lists/clean-urls-permissions.json
  brave-lists/clean-urls.json
Labels: Clean URLS

#1865 Add branch.io global trackers
  brave-lists/clean-urls.json
Labels: Clean URLS

#1864 Remove email-related parameters on Reddit
  brave-lists/clean-urls.json
Labels: Clean URLS

#1867 Initial cleanup of Iceland list
  custom/is.txt
Labels: Icelandic List

#1868 Fix ads on https://iir.la/0zogSMCai
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1869 Test YT rules for experimental
  brave-lists/experimental.txt
Labels: experimental

#1870 Remove rules for dpgmedia, causing issues
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1871 Move over more pageview domains from experimental
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: experimental, page-view-detection

#1872 Fixes speedtest.com advert
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1874 Fixes anti-brave message on https://www.hackerrank.com/
  brave-unbreak.txt
Labels: Brave List Issue

#1875 Not needed, under standard shields policy
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1876 Add podcast websites and sync
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: experimental, page-view-detection

#1877 Fixes popups on https://9xflix.wang/
  brave-unbreak.txt
Labels: Brave List Issue

#1878 Fix reddit.com crashing on older win7/8 builds
  brave-unbreak.txt
Labels: older brave

#1879 Fix typo in JSON key
  brave-lists/clean-urls-permissions.json
  tools/debounce_validation/test_debounce_validation.py
Labels: Clean URLS

#1880 Fix popup on https://9animetv.to/ (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1881 Fix anti-brave on tejtime24.com
  brave-unbreak.txt
Labels: Brave List Issue

#1882 Fixes quote issue on reddit
  brave-unbreak.txt
Labels: older brave

#1883 Fixes anti-Brave message on techishant.in
  brave-unbreak.txt
Labels: Brave List Issue

#1884 Fix more anti-brave sites
  brave-unbreak.txt
Labels: Brave List Issue

#1885 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#1888 Update Admirals
  brave-lists/brave-ios-specific.txt
Labels: ios specific, Brave List Issue

#1889 Import from uBO to fix Anti-adblock on dailymail.co.uk
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1890 Address manhwatop popups
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#1891 Update YT rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1892 Fixes independent.co.uk consent
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1894 Update Admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1896 Fixes anti-adblock photopea.com (ios)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1895 Fix debounce buy.gen.us
  brave-lists/debounce.json
Labels: Debounce

#1897 Remove Amazon params added by GeniusLink
  brave-lists/clean-urls.json
Labels: Clean URLS

#1898 Fixes https://www.dairyqueen.com/en-us/menu/ empty page
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1899 No longer needed, upstreamed to uBO
  brave-lists/brave-cookie-specific.txt
Labels: cleanup, Cookie list

#1900 Fixes reddit quotes
  brave-unbreak.txt
Labels: older brave

#1902 Update Iceland rules, and sort
  custom/is.txt
Labels: Icelandic List

#1903 Cover additional icelandic sites
  custom/is.txt
Labels: Icelandic List

#1905 Remove fixes for shop.ketoneaid.com
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: cleanup

#1906 Fixes cookie message on cv-library.co.uk
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1907 Increase the timeout for consent-pref.trustarc.com
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1908 Add a few more timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#1909 Sync 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1910 Update admiral servers
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1911 Fixes eventbrite.com signin
  brave-unbreak.txt
Labels: GPC Related

#1912 Ensure Brave component updater isn't accidentally blocked by a filter rule
  brave-lists/brave-specific.txt
  brave-unbreak.txt
Labels: Brave List Issue

#1913 Fixes anti-adblock on dailyboulder.com
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, First-party Ads

#1914 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1915 Add Ad-Shield counters into IOS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1916 Improve timesofindia.indiatimes.com rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
Labels: ios specific, First-party Ads

#1917 Add missing Ad-Shield rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1918 Sync YT fix from uBO
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1919 Update ios streaming popups
  brave-unbreak.txt
Labels: ios specific

#1920 Cleanup reddit and ios popups
  brave-unbreak.txt
Labels: cleanup, ios specific

#1921 Add addtional YT fix for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1922 Sync Admiral servers with ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific, puLL-Merge

#1923 Fix popup ads on myflixerz.to
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#1924 Update YT rules for IOS
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1925 Address https://github.com/brave/brave-browser/issues/38884
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#1926 Address https://github.com/brave/brave-browser/issues/36814
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#1927 Remove trk param from a media site
  brave-lists/clean-urls.json
Labels: Clean URLS

#1928 Fix Admirals sites
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1929 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1930 Update brave-disable-pageview-api domains
  brave-lists/experimental.txt
  brave-unbreak.txt
Labels: Brave List Issue, experimental

#1931 Address https://github.com/brave/brave-browser/issues/26079
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#1932 Address https://community.brave.com/t/flatpanelshd-com-ads-appearing/560418
  brave-unbreak.txt
Labels: Brave List Issue
