Repository brave/adblock-lists, pull requests merged in 2024-02, with the labels that each got.

#1496 Fixes https://suumo.jp/sp/ikkodate/saitama/ek_038519210/cond/?type=1&sjoken%5B%5D=011&km=1
  brave-lists/brave-firstparty.txt
Labels: first-party-exception

#1497 Fixes account.adobe.com CNAME
  brave-unbreak.txt
Labels: CNAME

#1500 Move CNAME fixes to first-party.txt
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1501 Update PerimeterX list
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1502 Implement https://github.com/brave/adblock-lists/pull/1479
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1504 Update streaming popups
  brave-unbreak.txt
Labels: ios specific

#1505 Fix empty spaces on kijiji.ca
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1506 Improve blocking on porhub network (NSFW)
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1507 Update easyprivacy_specific_perimeterx.txt
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1508 Fix empty spaces on decrypt.co
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1509 Fixes empty space on eatingwell.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1510 Fixes empty spaces on discourse.coreelec.org
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1512 Remove unneeded sephora.com rules
  brave-unbreak.txt
Labels: cleanup

#1514 Attempted fix of streameast.*
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#1516 Add streambeast.io to anti-Brave
  brave-unbreak.txt
Labels: Brave List Issue

#1517 Fixes baeldung.com anti-adblock
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1518 Fix subdomains of baeldung.com
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#1519 Address popups on ios (aniwave.to)
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1520 Convert adobe fixes from EP to ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1521 Improve youtube.com ad blocking
  brave-unbreak.txt
Labels: Brave List Issue

#1524 Import ima3_dai.js fixes into ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1523 Debounce trk.pm-srv.co urls
  brave-lists/debounce.json
Labels: Debounce

#1525 Fixes revolving adservers in ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1526 Fixes empty spaces on bestlifeonline.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1527 Move Taboola, Outbrain to first-party
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#1528 Fixes empty space historytoday/fox17
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1529 Update first-party blank spaces
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1530 Cover weather.com firtst-party trackers
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1531 Fixes popups on toonilt.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First-party Trackers

#1532 General first-party tracking fixes
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#1534 Fix anti-Brave on podcastle.ai
  brave-unbreak.txt
Labels: Brave List Issue

#1536 Fixes empty spaces of fastcompany.com
  brave-lists/brave-firstparty.txt
Labels: First-party ads (cosmetics)

#1537 Cleanup rules
  brave-lists/brave-firstparty.txt
Labels: cleanup

#1538 Fix YT ads on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1539 Addres https://github.com/brave/adblock-lists/pull/1515
  brave-unbreak.txt
Labels: cleanup

#1541 Fix various empty space issues
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1542 Fixes https://www.pravda.com.ua/news/2024/02/21/7442950/
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads

#1543 Fix N-Network and .ad elements
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1544 Mirgate Google signin popup to first-party list
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads, needs-security-review

#1545 Fixes allreceipes and qns.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1546 Add another domain for Streaklinks
  brave-lists/debounce.json
Labels: Debounce

#1547 Cleanup cosmetics blank space issues
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1548 Fixes broken sites in https://github.com/brave/brave-browser/issues/35084
  brave-unbreak.txt
Labels: anti-adblock

#1550 Sync YT fixes for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1551 Update YT rules
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#1554 Update First elements
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, puLL-Merge

#1555 Test rules for google precision popup
  brave-lists/experimental.txt
Labels: experimental

#1556 Update first-party elements
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#1557 Import Easyprivacy fixes for fingerprinting scripts
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers
