Repository brave/adblock-lists, pull requests merged in 2025-08, with the labels that each got.

#2578 Update youtube popups
  brave-lists/brave-firstparty.txt
Labels: cosmetic

#2584 Re-enable
  brave-lists/experimental.txt
Labels: experimental

#2586 Update shorts rules
  brave-lists/yt-shorts.txt
Labels: youtube additions

#2589 Fix twitch embedded https://electricporpoise452.github.io/links.html
  brave-lists/brave-checks.txt
Labels: Brave Checks

#2592 Fix https://shop.fourleggedfriendsanimalhospital.com/browser-upgrade/
  brave-lists/brave-checks.txt
Labels: ios specific, Brave Checks

#2597 Fix popups on demonicscans.org
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Cosmetic fixes

#2598 Remove the Tangerine exceptions
  brave-lists/webcompat-exceptions.json
Labels: webcompat

#2599 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: Cosmetic fixes, puLL-Merge
