Repository brave/adblock-lists, pull requests merged in 2025-07, with the labels that each got.

#2549 Add various 3p streaming sites
  brave-lists/brave-checks.txt
Labels: Brave Checks

#2551 Sync with EL
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2553 Add mlbbox.me into brave-checks
  brave-lists/brave-checks.txt
Labels: Brave Checks

#2558 Disable rule
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#2561 add debounce for lcmspubcontact.lc.ca
  brave-lists/debounce.json
Labels: Debounce

#2563 No longer applicable
  brave-lists/brave-firstparty.txt
Labels: cleanup

#2565 Fix empty spacings on https://knowyourmeme.com/
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2566 Youtube ads test fix
  brave-lists/experimental.txt
Labels: experimental

#2570 Revert https://github.com/brave/adblock-lists/pull/2560
  brave-lists/yt-distracting.txt
Labels: youtube additions

#2572 Fix Chrome popup
  brave-lists/brave-firstparty.txt
Labels: cosmetic, Cosmetic fixes
