Repository brave/adblock-lists, pull requests merged in 2025-01, with the labels that each got.

#2242 Fix bait on https://www.digi24.ro/live/digi24
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2243 Improve blocking on popcorntimeonline.xyz
  brave-unbreak.txt
Labels: Brave List Issue

#2244 Update fingerprinting scripts
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#2245 Update streaming sites popups
  brave-unbreak.txt
Labels: Brave List Issue

#2241 Strip out Emarsys / Scarab Cloud parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#2246 Address another login issue on Tangerine
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2247 Fix anti-adblock on idjav.info (NSFW)
  brave-unbreak.txt
Labels: Brave List Issue

#2248 Fix regex on https://vidsrc.net/embed/movie?imdb=tt0425210
  brave-unbreak.txt
Labels: Brave List Issue

#2249 Move to brave-firstparty.txt
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#2250 Improve blocking on https://vipleague.im/
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue, First-party Ads

#2251 Improve blocking on game8.jp
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, japanese rules

#2252 Increase timeout for derstandard
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2253 Address https://github.com/brave/brave-browser/issues/42993
  brave-lists/brave-cookie-specific.txt
Labels: Brave List Issue, Cookie list

#2254 Now in uBO upstream
  brave-lists/brave-cookie-specific.txt
Labels: cleanup

#2255 Fix anti-Brave on webdexscans.com
  brave-unbreak.txt
Labels: Brave List Issue

#2256 Improve quora.com perf issues
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2257 Debounce page.link
  brave-lists/debounce.json
Labels: Debounce

#2258 Improve blocking on appmedia.jp
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2259 Sync first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2260 Fix bild and clevelandclinic.org
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2261 Fixes https://www.france.tv/ anti-adblock message
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#2262 Add anti-adblock on sussyscan.com
  brave-unbreak.txt
Labels: anti-adblock, Brave List Issue

#2263 Update various popup streaming sites
  brave-unbreak.txt
Labels: Brave List Issue

#2265 Fix ads popup on twitch.tv
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2266 Update cookie consent timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2267 Test Ad-shield block on game8.jp
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2268 Cover some adservers on lectormangaa.com
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2270 Improve pandora.com ads
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2271 Update fingerprinting scripts
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#2272 Remove bait cosmetics, merged in EL
  brave-lists/brave-firstparty.txt
Labels: cleanup, First-party Ads

#2273 Fixes barnesandnoble.com brave checks
  brave-unbreak.txt
Labels: Brave List Issue

#2275 Test openinapp YT fix
  brave-lists/experimental.txt
Labels: experimental

#2276 Remove paused-mode on m.yt
  brave-lists/experimental.txt
Labels: experimental

#2274 Strip new unnecessary Amazon parameters
  brave-lists/clean-urls.json
Labels: Clean URLS

#2277 Add press.barnesandnoble.com fingerprinting
  brave-lists/webcompat-exceptions.json
Labels: webcompat, fingerprint

#2279 Improve blocking on animexin.dev
  brave-unbreak.txt
Labels: Brave List Issue

#2280 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2281 Remove paused video click rules
  brave-lists/experimental.txt
Labels: experimental

#2283 Address https://github.com/brave/brave-browser/issues/9060
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2284 Add various .jp adservers
  brave-lists/brave-ios-specific.txt
Labels: ios specific, japanese rules

#2285 Fixes ads on asuracomic.net
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2286 Test Ad-shield rule https://ncode.syosetu.com/
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2287 Fix asuracomic.net overlay
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2288 Add some timeouts
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2289 Fix video playback on spankbang.com
  brave-unbreak.txt
Labels: uBO Issue

#2290 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2292 Fixes firstthings.com empty page due to paywall
  brave-unbreak.txt
Labels: Brave List Issue

#2294 Fix popups
  brave-unbreak.txt
Labels: Brave List Issue
