Repository brave/adblock-lists, pull requests merged in 2025-05, with the labels that each got.

#2447 Add max.com consent fallback
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2449 Fix ads on mangabats.com/nelomanga.net
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2455 Fix bitchute.com ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2458 Improve blocking on popcornfilmz.com
  brave-unbreak.txt
Labels: puLL-Merge

#2459 Update streaming sites popups
  brave-unbreak.txt
Labels: puLL-Merge

#2460 Further streaming updates
  brave-unbreak.txt
Labels: puLL-Merge

#2462 Update Spanish sites
  brave-lists/brave-firstparty-regional.txt
Labels: First-party Ads

#2463 Cover .ar spanish sites
  brave-lists/brave-firstparty-regional.txt
Labels: First Ad Regional

#2464 Update mexican spanish sites
  brave-lists/brave-firstparty-regional.txt
Labels: First Ad Regional

#2465 Update spanish sites
  brave-lists/brave-firstparty-regional.txt
Labels: First Ad Regional

#2466 Add Portuguese sites
  brave-lists/brave-firstparty-regional.txt
Labels: First Ad Regional

#2467 Further pt updates
  brave-lists/brave-firstparty-regional.txt
Labels: First Ad Regional

#2470 Fix overblocking on anime4i.vip
  brave-unbreak.txt
Labels: cleanup

#2473 Fixes wired article not showing
  brave-unbreak.txt
Labels: cleanup

#2474 Remove youtube.com rules
  brave-lists/experimental.txt
Labels: cleanup, experimental

#2475 Sync invideo ads
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2476 Filter unnecessary parameters from Google Search (fixes brave-browser#41739)
  brave-lists/clean-urls.json
Labels: Clean URLS

#2477 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2478 Improve blocking on https://watchthebigbangtheory.cc/
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#2485 Fix bloomberg warning message
  brave-lists/brave-firstparty.txt
Labels: ios specific

#2488 Fix YT distraction comment preview
  brave-lists/yt-distracting.txt
Labels: youtube additions

#2490 Update German sites
  brave-lists/brave-firstparty-regional.txt
  brave-lists/brave-firstparty.txt
Labels: First-party Ads, First Ad Regional

#2491 Remove `source` parameter on Brave Search
  brave-lists/clean-urls.json
Labels: Clean URLS

#2497 Remove `rcm` parameter from shared links on LinkedIn
  brave-lists/clean-urls-permissions.json
  brave-lists/clean-urls.json
Labels: Clean URLS
