Repository brave/adblock-lists, pull requests merged in 2025-04, with the labels that each got.

#2400 Add Amazon Ireland and Amazon South Africa
  brave-lists/clean-urls.json
Labels: Clean URLS

#2403 Update generic cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2404 Initial Spanish first-party filters
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2405 Re-sync investing.com with uBO
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2406 Improve blocking on some streaming sites
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-lists/brave-specific.txt
Labels: ios specific, First-party Ads

#2408 Adjust thegateway fix
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#2412 Fix empty spaces on cleantechnica.com
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2414 github.com: strip `notification_referrer_id`
  brave-lists/clean-urls.json
Labels: Clean URLS

#2418 Fixes https://redecanais.gs/o-macaco-legendado-2025-1080p_3b45748cd.html
  brave-lists/brave-firstparty-regional.txt
Labels: First Ad Regional

#2423 Improve blocking on missav.ws
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: ios specific

#2425 Address ad servers on freepdfcomic
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2426 Improve blocking on uranai.nosv.org (Japanese)
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2428 Move firstparty regionals into brave-firstparty-regional.txt
  brave-lists/brave-firstparty-regional.txt
  brave-lists/brave-firstparty.txt
Labels: puLL-Merge, First Ad Regional

#2430 Add zdnet/cnet debounce
  brave-lists/debounce.json
Labels: Debounce

#2431 Fix the chip bar on YT
  brave-lists/yt-recommended.txt
Labels: youtube additions

#2432 Update first-party cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2436 Update old YT rules
  brave-lists/experimental.txt
Labels: experimental

#2437 Update YT rules
  brave-lists/experimental.txt
Labels: experimental

#2438 Add Google's gad_source
  brave-lists/clean-urls.json
Labels: Clean URLS

#2439 Improve adblocking on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2441 Increase timeouts on max.com and omegawatches.com
  brave-lists/brave-cookie-specific.txt
Labels: Cookie list

#2442 Cleanup animepahe.ru and related sites
  brave-unbreak.txt
Labels: cleanup

#2445 Remove max.com rules
  brave-lists/brave-cookie-specific.txt
Labels: cleanup
