Repository brave/adblock-lists, pull requests merged in 2025-03, with the labels that each got.

#2345 Sync first-part fixes
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2344 Remove subscriber ID in convertkit links
  brave-lists/clean-urls.json
Labels: Clean URLS

#2346 Address https://www.kanald.com.tr/arka-sokaklar/bolumler/arka-sokaklar-son-bolum
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2347 Update 1p cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2348 Fixes anti-adblock on pervyi-tv.online
  brave-lists/brave-firstparty.txt
Labels: anti-adblock

#2349 Fixes https://rogersxfinitystream.shaw.ca/
  brave-unbreak.txt
Labels: Brave List Issue

#2350 Fixes in app warning from m.youtube.com
  brave-lists/brave-specific.txt
Labels: In app notices

#2353 Fix plex anti-ad block
  brave-unbreak.txt
Labels: anti-adblock

#2354 Update cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2356 Fixes delfi.ee & law.cornell.edu
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2357 Add more adservers for ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2358 Remove ad shield exception
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2360 Re-add exception to html-load.com
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2361 Import regex from brave-unbreak.txt
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2362 Remove match-case
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2363 Fixes https://github.com/brave/brave-browser/issues/44574
  brave-lists/webcompat-exceptions.json
Labels: fingerprint

#2364 Fix anti-adblock on lequipe.fr
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2366 Cleanup french cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2368 Update french cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2369 Bad filter visualwebsiteoptimizer.com rules
  brave-unbreak.txt
Labels: Peter Lowes list

#2370 Fixes duden.de anti-adblock
  brave-lists/brave-firstparty.txt
Labels: anti-adblock, First-party Ads

#2372 Improve blocking on various streaming video sites
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: puLL-Merge

#2373 Fix loading issues on hitomi.la/rule34hentai.net
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2374 Fix hitomi.la on ios
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2375 Improve cosmetic blocking on German sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2376 Cover more .de cosmetics domains
  brave-lists/brave-firstparty.txt
Labels: First-party ads (ads)

#2377 Update .de sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2378 Sync EP Exceptions
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2379 Fix godlikeproductions.com, rooter.gg
  brave-lists/brave-checks.txt
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: Brave List Issue

#2380 Update French cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2381 Update French sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2382 Update .de cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2383 Update .de sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2384 Improve cosmetic blocking on Indian sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2385 Interium fix for meet.google.com
  brave-unbreak.txt
Labels: Brave List Issue

#2386 Fixes https://apply.regions.com/consumer?productAlias=sfsdsdffd
  brave-lists/brave-firstparty.txt
Labels: First-party Trackers

#2387 Update french first-party
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2388 Sync with Easylist
  brave-lists/brave-ios-specific.txt
Labels: ios specific

#2390 Initial Indian cosmetics sites
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2393 Update Indian cosmetics
  brave-lists/brave-firstparty.txt
  brave-unbreak.txt
Labels: First-party Ads

#2391 Add another laylo domain for email redirects
  brave-lists/debounce.json
Labels: Debounce

#2298 Debounce AWS SES emails
  brave-lists/debounce.json
Labels: Debounce

#2395 Update Indian Cosmetics
  brave-lists/brave-firstparty.txt
Labels: First-party Ads

#2396 Update filter rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-lists/brave-specific.txt
Labels: First-party Ads

#2398 Test disabling thegatewaypundit.com rules
  brave-lists/brave-firstparty.txt
  brave-lists/brave-ios-specific.txt
  brave-unbreak.txt
Labels: cleanup
